body {
	font-family:'Oswald',sans-serif;
	background-color: #ffe7b9;
}
.topo {
	padding:20 px;
}
.linkstopo a{
	text-decoration:none;
	padding: 5px;
	color:#0c0c0c;
	text-align: left;
	
}
.topo img {
	margin:5px 5px 5px 5px;
}

.corpo {
	padding:20 px;
	margin-top: 20px;
}
.corpo img:hover {
	filter: blur(5px);
	
}

.corpo img {
	margin-top: 5px;
	margin right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	
}
p1 {
	color: #988356;	
	text-align: left;
	font-weight: bold;
}

p2 {
	color:#988356;
	text-align: left;
	font-weight: bold;
}

p3 {
	color:#0c0c0c; 
	text-align: left;
	font-weight: normal;
}
p4 {
	color:#988356;
	text-align: left;
	font-weight: bold;
}
p5 {
	color:#0c0c0c; 
	text-align: left;
	font-weight: normal;
}

.rodape {

}